/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2017, 5:28:15 PM
    Author     : ganesha
*/


/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
    margin:0;
    font-family: 'Georgia-Regular';

}

html {
    font-size: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}
@font-face {
    font-family: 'Georgia-Regular';
    src: url(../fonts/Georgia-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'Georgia-Bold';
    src: url(../fonts/Georgia-Bold.ttf)format('truetype');
}
@font-face {
    font-family: 'NotoSerif-Bold';
    src: url(../fonts/NotoSerif-Bold.ttf)format('truetype');
}
@font-face {
    font-family: 'NotoSerif-Regular';
    src: url(../fonts/NotoSerif-Regular.ttf)format('truetype');
}
@font-face {
    font-family: 'NotoSerif-Italic';
    src: url(../fonts/NotoSerif-Italic.ttf)format('truetype');
}

@font-face {
    font-family: 'AvenirBook';
    src: url(../font/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url(../font/AvenirLTStd-Heavy.otf);
}


@font-face {
    font-family: 'AvenirLight';
    src: url(../font/AvenirLTStd-Light.otf);
}


@font-face {
    font-family: 'AvenirMedium';
    src: url(../font/AvenirLTStd-Medium.otf);
}

@font-face {
    font-family: 'AvenirRoman';
    src: url(../font/AvenirLTStd-Roman.otf);
}


body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
h1,h2,h3,h4,h5,h6{
    margin:0;			   
}
p{
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}


body a:hover{
    text-decoration:none;
}
/*--content--*/

.comments{
    margin-top:1em;
    padding-top:0.7em;
    border-top:1px solid rgba(238, 238, 238, 0.21);
}
.comments ul li{
    display:inline-block;
    margin:0 2px;
    color:#a0a0a0;
    font-size:0.8em;
}
.comments ul li img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 0px

}

.comments ul li a{
    color:#a0a0a0;
}
.comments ul li a:hover{
    color:#ffc600;
}
.glyphicon {
    top:3px;
}
.glyphicon-comment:before,.glyphicon-time:before,.glyphicon-eye-open:before,.glyphicon-thumbs-up:before{
    color:#a0a0a0;
    font-size:20px;
    margin-right:2px;
    margin-left: 15px;
}

.post4{
    margin: 0em 15px;
}
.post4-info{
    background:#fff;
    border: 1px solid #606060;
    padding:1em 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 10px;
    height: auto;
}
.post4-info h3{
    font-size:1.5em
}
.post4-info h3 a{
    color:#000000;
    margin-bottom:7px;
    display:inline-block;
    text-decoration:none;
    font-family: 'Georgia-Bold';

}
.post4-info h3 a:hover{
    color: #FF3145;
}
.post4-info p{
    color:#9C9C9C;
    font-size:1.1em;
    line-height:1.32em;
    font-family: 'Georgia';
}

.post4-comments{
    background:white;
    padding:1em 2em;
    border-bottom: 0.5px solid #C7C7C7;
    margin: 10px;
    height: auto;
}

.post4-info img{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.cmnt{
    border-top: 1px solid rgb(238, 238, 238);
}


.feed-container{

    margin: 150px;
}

.center {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px;
}

.pagnation-center {
    display: block;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.pollView {
    margin: 10px;
    width: auto;
    border: 1px solid #606060;
    background: #DCDCDC;
    padding: 10px;
}

.h3{
    color:#a0a0a0;

}

.pagination a {
    color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.store img{

    padding: 10px;
    width:220px;
    height:80px;
}

.benifits{

    padding: 5px

}

.benifits h4{

    padding: 10px

}
.benifits_icon{

    padding: 5px
}

.benifits_icon{

    padding: 5px
}

.handle h3{

    color:gray;
    font-size: 15.6px;
    line-height: 18.9px;
    font-weight: 500;

}


.handle{

    margin-top:1em;
    padding-top:0.7em;

}

.cmt-heading{

    margin:1em;
}

.cmt-heading h3{

    color:black;
    font-weight: 300;
    font-size:1.8em;
}

.pull-right{

    padding: 10px;
}

.download-icon{

    width: 15%;
    height: 10%;
}

